.helpline-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .helpline-container {
    flex-direction: column;
    width: 90%;
  }

  .helpline-item {
    width: 100%;
  }
}

@media (min-width: 481px) {
  .helpline-container {
    width: 800px;
  }

  .helpline-item {
    width: 50%;
  }
}
