.helpline-list {
  clear: both;
}
.helpline-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
}

@media screen and (max-width: 1200px) {
  .helpline-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}


@media screen and (max-width: 800px) {
  .helpline-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}


@media screen and (max-width: 550px) {
  .helpline-container {
    grid-template-columns: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}