<div class="filter-component">
    <div class="filter-drop-down">
        <h4>Select City</h4>
        <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <mat-select>
            <mat-option *ngFor="let city of cities" [value]="city">
            {{city | titlecase}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class="filter-drop-down">
        <h4>Select Resource</h4>
        <mat-form-field appearance="fill">
        <mat-label>Resource</mat-label>
        <mat-select>
            <mat-option *ngFor="let res of resources" [value]="res.value">
            {{res.viewValue | titlecase}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
</div>
