.main {
  padding: 8px;
}
.content {
  max-width: 1400px;
  margin: 0 auto;
}

.panel {
  background: #fbe49f;
  border: 1px solid #ff6000;
  border-radius: 12px;
}

.panel-header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background: #fbe6a8;
}
