.main {
  padding: 8px;
}
.content {
  max-width: 1400px;
  margin: 0 auto;
}

/* .disclaimer {
  padding: 12px;
  background: #fbe49f;
  border: 1px solid #ff6000;
  border-radius: 12px;
} */

.panel {
  background: #fbe49f;
  border: 1px solid #ff6000;
  border-radius: 12px;
}

.panel-header {
  margin-top: 14px;
  margin-bottom: 13px;
}
