<mat-toolbar color="primary">
  <span>UPAY Covid</span>
</mat-toolbar>
<!--TODO : To replace this with proper sructure once more components are in place-->
<section class="main">
  <div class="content">
    <!-- <div class="disclaimer">
      <p>The following details are collated and verified by a team of volunteers at <a href="https://www.upay.org.in">UPAY</a>. We are manually calling and verifying each contact, and trying
        our best to collect up to date, valid data to help our society. Still we advise you to verify the details on your own before sharing any personal information or
        transferring money inorder to purchase medicines/services. If you find any detail on this website that is incorrect, please update us at upayngo@gmail.com. </p>
    </div> -->
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          Please verify the details on your own before sharing any personal
          information or transferring money inorder to purchase
          medicines/services.</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p>
        The following details are collated and verified by a team of volunteers
        at <a href="https://www.upay.org.in">UPAY</a>. We are manually calling
        and verifying each contact, and trying our best to collect up to date,
        valid data to help our society. Still we advise you to verify the
        details on your own before sharing any personal information or
        transferring money inorder to purchase medicines/services. If you find
        any detail on this website that is incorrect, please update us at
        upayngo@gmail.com.
      </p>
    </mat-expansion-panel>
    <app-filter
      (cityChange)="onCityChange($event)"
      (resourceChange)="onResourceTypeChange($event)"
    ></app-filter>
    <helpline-list
      [city]="currentCity"
      [resourceType]="currentResourceType"
    ></helpline-list>
  </div>
</section>
