<div class="helpline-card">
  <mat-card (click)="openDialog()" class="helpline-item">
    <div>
      <div class="resource-name">{{ resource.name }}</div>
    <div>
      <b>Contact Number</b>: {{ resource.phone }}
    </div>
    <div>
      <b>Address</b>:
      {{
        resource.location.length > 22
          ? (resource.location | slice: 0:22) + "..."
          : resource.location
      }}
    </div>
    </div>
    <div class="action-container">
      <a class="call-btn" mat-button color="primary" *ngIf = "resource.phone" href="tel:{{resource.phone}}">CALL</a>
      <a class="direction-btn" mat-button color="primary" *ngIf = "directionUrl" href="{{directionUrl}}" target="_blank">GET DIRECTION</a>
    </div>
  </mat-card>
</div>
