.resource-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.action-container {
  padding-top: 12px;
  text-align: end;
}

.helpline-card {
  height: 100%;
}

mat-card {
  height: 80%;
}

.call-btn {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .call-btn {
    display: inline-block;
  }
}
